<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Funicontrol" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Funicontrol">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application" %>
    <% if Rails.env.development? && ENV["FUNICULAR_COMPONENT_DEBUG"] == "1" %>
      <%= javascript_include_tag "funicular_debug" %>
      <%= stylesheet_link_tag "funicular_debug" %>
    <% end %>
    <%= javascript_include_tag "line_map_renderer" %>
    <%= javascript_include_tag "operation_log_scroll" %>
    <%= javascript_include_tag "funicontrol_upload" %>
    <%= picoruby_include_tag %>
    <% app_mrb = Rails.root.join("app/assets/builds/app.mrb") %>
    <% app_mrb_version = app_mrb.exist? ? app_mrb.mtime.to_i : Time.current.to_i %>
    <script type="application/x-mrb" src="<%= "#{asset_path("app.mrb")}?v=#{app_mrb_version}" %>"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
